<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.asp" />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
<rewrite>
<rewriteMaps>
<rewriteMap name="Redirects">
<add key="/hesabdari.htm" value="/rahavard/" />
<add key="/gbartar.htm" value="/gozine-bartar/" />
<add key="/gbartarb.htm" value="/gozine-bartar/" />
<add key="/netadmin.htm" value="/coffenet/" />
<add key="/vps.htm" value="/vps/" />
<add key="/order.asp" value="/" />
<add key="/rahavardorder.asp" value="/rahavard/" />
<add key="/rahavardhelp.htm" value="/rahavard/" />
<add key="/contact.asp" value="/contact.php" />
<add key="/index.htm" value="/" />
<add key="/alertpay.asp" value="/" />
<add key="/paypal.asp" value="/" />
<add key="/profile.asp" value="/" />
<add key="/peygiri.asp" value="/" />
<add key="/chapcd.asp" value="/" />
<add key="/webmoney.asp" value="/" />
<add key="/pdesign.htm" value="/programming/" />
</rewriteMap>
</rewriteMaps>
<rules>
                <rule name="CanonicalHostNameRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTPS}" pattern="off" />
                        <add input="{HTTP_HOST}" pattern="^www\.ydc\.ir$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://www.ydc.ir/{R:1}" />
                </rule>
			
<rule name="Redirect rule1 for Redirects">
<match url=".*" />
<conditions>
<add input="{Redirects:{REQUEST_URI}}" pattern="(.+)" />
</conditions>
<action type="Redirect" url="{C:1}" appendQueryString="false" />
</rule>

                <rule name="RewriteUserFriendlyURL1" enabled="true" stopProcessing="true">
                    <match url="^blog/(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/blog/index.php?g={R:1}" />
                </rule>

</rules>
</rewrite>
        <urlCompression doStaticCompression="true" />

    </system.webServer>
</configuration>
